body{background: #f3f3f3}

nav{
    background: #22282d;
    color: white;
}
.layui-form-label{
    padding: 0 !important;
}
.login-option a{
    color: white;
}
.title-block{
    font-size: 27px;
    line-height: 60px;
}
.title-block{
    float: left;
}
.menu li{
    display: inline-block;
    padding-right: 5%;
    float: left;
}
.forum-find p{
    text-align: right;
    line-height: 50px;
}
.menu {
    font-size: 15px;
    line-height: 50px;
}
.login-block{
    text-align: right;
    font-size: 17px;
    line-height: 50px;
}
.options{
    position: absolute;
    right: 15px;
    text-align: center;
    border: 1px solid gainsboro;
    background: white;
    display: none;
    z-index: 9999;
}
.forum-find{
    height: 50px;
    background: white;
}
.options li{
    padding: 0 15px;
}
option a{color: black !important;}
.bg-clean{
    background: none !important;
    text-align: right;
    padding: 0 !important;
}
dd a{
    padding: 6px 20px !important;
    text-align: center;
}
.layui-nav-item a:hover{
    text-decoration: none;
}
.answer{
    color: white;
    font-size: 22px !important;
}
.answer:hover{
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu{
        padding: 0 10px;
    }
    .menu li{
        margin-right: 10% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu{
        padding: 0 10px;
    }
}
@media (min-width: 991px) {

}