body{background: #f3f3f3}

nav{
    background: #22282d;
    color: white;
}
.layui-form-label{
    padding: 0 !important;
}
.login-option a{
    color: white;
}
.title-block{
    font-size: 27px;
    line-height: 50px;
}
.title-block{
    float: left;
}
.menu li{
    display: inline-block;
    padding-right: 5%;
    float: left;
}
.forum-find p{
    text-align: right;
    line-height: 50px;
}
.menu {
    font-size: 17px;
    line-height: 50px;
}
.login-block{
    text-align: right;
    font-size: 17px;
    line-height: 50px;
}
.options{
    position: absolute;
    right: 15px;
    text-align: center;
    border: 1px solid gainsboro;
    background: white;
    display: none;
    z-index: 9999;
}
.forum-find{
    height: 50px;
    background: white;
}
.options li{
    padding: 0 15px;
}
option a{color: black !important;}

.nav-group{position: relative}

@media (max-width: 768px) {
    nav {
        background: #f54e05;
    }
    .title-block {
        /*display: none;*/
        float: left;
    }

    .menu li {
        /*display: block;*/
        padding: 0 0 !important;
    }
    .login-block{
        float: right;
    }

    .modal-content {
        margin-top: 50%;
    }
    .hello{display: none}
    .options li{
        padding: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    nav {
        background: #f54e05;
    }
}
@media (min-width: 991px) {
    /*.login-block ul{*/
        /*display: none;*/
    /*}*/
}