.edit-topic{
    background: white;
    margin-top: 20px;
    /*height: 510px;*/
}
.forum-find button{
    display: none;
}
.topic-text {
    min-height: 260px;
}
.form-horizontal .control-label{
    padding-top: 0 !important;
}
.form-control{
    border-radius: 0 !important;
}
@media (max-width: 768px) {
    .pd{
        margin-bottom: 2%;
    }
    .edit-topic{
        height: 590px;
    }
}