.layui-card-header{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}
.card-body div{
    border-bottom: 1px gainsboro dashed;
    padding: 10px 0;
}
.card-body img{
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 2%;
}
h2 a:last-child{
    max-width: 80%;
    font-size: 16px;
}
.info span{
    color: grey;
    margin-right: 20px;
}
.img-wx{
    padding: 10%;
    text-align: center;
}
.img-wx img{
    width: 258px;
    height: 258px;
}
.more{
    text-align: center;
    padding: 2% 0;
}
.more p{
    margin-bottom: 1%;
}
.more img{
    transform: rotate(90deg);
    margin: 0 auto;
}
.more a:hover{
    text-decoration: none;
    color: grey;
}
.eyes{
    float: left;
    line-height: 24px;
    margin-right: 5px;
}
.news a{
    color: #22a7f1 !important;
}
.news a:hover{text-decoration: none}
.a-link:hover{
    text-decoration: none;
    color: #009688 !important;
}

@media (max-width: 768px) {
    .catch-us{display: none}
}
@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 991px) {

}