.article{
    padding: 2%;
}
.article h1{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 1%;
}
.topic-data p{
    float: right;
}
.detail-about{
    background: #f8f8f8;
    margin:2% 0;
    overflow: hidden;
    padding: 2%;
}
.detail-about img,.userImg{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 2%;
}
.topic-text {
    padding-bottom: 5%;
}
.qaq{
    overflow: hidden;
    margin-top: 2%;
}
.qa{
    padding: 0 1%;
    border-bottom: 1px dashed gainsboro;
}
.qa p{
    padding: 5% 0 3%;
}
.dz a{

}
.qa i{
    line-height: 35px;
}
.replay-block span{
    color: #009688;
}
.replay-block a:hover{
    text-decoration: none;
}
.discuss{
    margin-top: 5%;
}
textarea.discuss-detail {
    width: 100%;
    min-height: 150px;
    /*margin-bottom: 1%;*/
    /*border: 1px solid gainsboro;*/
    border: none;
}
.bodyRpy{
    border: 1px solid gainsboro;
    padding: 1%;
}
#rpyImg{
    width: 30%;

}
.replay-dialog{
    background: grey;
    padding: 20px;
    opacity: 0.8;
    position: fixed;
    z-index: 5;
    top: 35%;
    display: none;
}
#frmReplay textarea{
    background: none;
    color: white;
}
.eyes{
    float: left;
    line-height: 15px;
    margin-right: 5px;
}
.article button{
    outline: none;
    border: 0;
}
.tools{
    padding: 1%;
    border: 1px solid gainsboro;
    border-bottom: none;
}
.tools a{
    text-decoration: none;
    padding: 1%;
    border-right: 1px solid gainsboro;
}
.hot i{
    color: red;
}
.hot a{
    color: #22a7f1 !important;
    text-decoration: none;
}
@media (max-width: 768px) {
    .replay-dialog{
        width: 92%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .replay-dialog{
        width: 500px;
        left: 25%;
    }
}
@media (min-width: 991px) {
    .replay-dialog{
        width: 500px;
        left: 34%;
    }
}