.article{
    padding: 2%;
}
.article h1{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 1%;
}
.topic-data p{
    float: right;
}
.detail-about{
    background: #f8f8f8;
    margin:2% 0;
    overflow: hidden;
    padding: 2%;
}
.detail-about img,.qaq img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 2%;
}
.topic-text {
    padding-bottom: 5%;
}
.qaq{
    overflow: hidden;
    margin-top: 2%;
}
.qa{
    padding: 0 1%;
    border-bottom: 1px dashed gainsboro;
}
.qa p{
    padding: 5% 0 3%;
}
.qa button{
    height: 35px;
    background: none;
    border: none;
    outline: none;
    text-align: left;
}
.qa i{
    line-height: 35px;
}
.replay-block span{
    color: #009688;
}
.replay-block a:hover{
    text-decoration: none;
}
button span{
    float: right;
    line-height: 35px;
    margin-left: 10px;
}
.discuss{
    margin-top: 5%;
}
textarea.discuss-detail {
    width: 100%;
    min-height: 150px;
    padding: 1%;
    margin-bottom: 1%;
    border: 1px solid gainsboro;
}