.case-title{
    background-image: url("../img/bg3.jpg");
    background-size: cover;
}
.case-title-text{
    padding: 10% 0;
}

.bg-color{
    background: #eee;
}

.case-block{
    padding: 5% 0;
}
.img-block{
    text-align: right;
    position: relative;
}
.p-block{
    padding-left: 5%;
    padding-top: 7%;
}
.p-block p:first-child{
    text-align: left;
    color: black;
    font-size: 18px;
}
.p-block p:last-child{
    color: grey;
    font-size: 15px;
    text-align: left;
}
.item button{
    width: 30%;
    height: 15%;
    background: black;
    color: white;
    outline: none;
    border: none;
    opacity: .8;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    font-size: 15px;
}
.btn-icon{
    background: gainsboro;
    width: 45px !important;
    height: 45px !important;
    text-align: center;
    line-height: 50px;
}
.underline-t{
    margin: 0 auto;
    width: 5%;
    border: 1px solid #f54e05;
}
.underline{
    border: 1px solid gainsboro;
    margin: 5% 0;
}
.carousel-control.left,.carousel-control.right {
    background-image: none !important;
}
.carousel-control{
 width: 5% !important;
}

@media (max-width:768px ){
    .pro-desc{
        font-size: 20px;
        text-align: center;
    }
    .item button{
        position: absolute;
        top: 10%;
        left: 0;
    }
}

@media (min-width:768px ) and (max-width: 991px){
    .pro-desc{
        font-size: 25px;
        text-align: center;
    }
    .carousel-control{
        top: 140px;
        left: 641px;
    }
    .btn-icon{
        left: 10px;
    }
    .item button{
        position: absolute;
        top: 10%;
        left: 0;
    }
}
@media (min-width: 991px) and (max-width: 1200px){
    .pro-desc{
        font-size: 28px;
        text-align: center;
        color: #b2e567;
    }
    .carousel-control{
        top: 200px;
        left: 385px;
    }
    .btn-icon{
        left: -449px;
    }
    .item button{
        position: absolute;
        top: 10%;
        left: 0;
    }
}
@media (min-width: 1200px) {
    .pro-desc{
        font-size: 28px;
        text-align: center;
    }
    .carousel-control{
        top: 260px;
        left: 480px;
    }
    .btn-icon{
        left: -540px;
    }
    .item button{
        position: absolute;
        top: 10%;
        left: 0;
    }
}