*{
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .nav-logo,.nav-tel{
        display: none;
    }
    .nav-menu{
        background: #f54e05;
        color: white;
        position: relative;
        width: 100% ;
        transition: all 0.8s;
    }
    .nav-icon{
        position: absolute;
        top: 0;
        right: 20px;
        background: none;
        border: none;
        outline: none;
    }
    .nav-menu ul li{
        display: block;
    }
    nav ul a:hover{
        color: white;
        text-decoration: none;
    }
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .contact-us{text-align: center}
    .scale-title{font-size: 22px !important;}
    .scale-btn{
        transform: scale(.8);
        transition: all .8s;
    }
    .about-us{display: none}
    .our-service{display: none}
}
@media (min-width: 768px) and (max-width: 991px){
    .scale-title{font-size: 28px !important;}
    .nav-icon{display: none}
}
@media (min-width: 991px){
    .nav-menu{width: 75%}
    .scale-title{font-size: 35px !important;}
    .nav-icon{display: none}
}

.nav {
    background: #22282d;
    overflow: hidden;
    height: 60px;
    transition: all 0.8s;
    position: relative;
    z-index: 3;
}
.nav-block div:first-child,.nav-block div:nth-child(2){float: left;padding-top: 5px}
.nav-block div:last-child{float: right;height: 60px}
.nav-logo img{width: 120px;}
.nav-menu{line-height: 50px}

nav ul,.nav-tel{
    list-style: none;
    color: white;
}
nav ul li{
    display: inline-block;
}
.nav-menu{
    text-align: center;
}
.nav-tel{
    text-align: right;
    line-height: 60px;
}
.nav-tel img{
    width: 30px;
}
@font-face {
    font-family: 'Ga';
    src: url("../fonts/gabriola.ttf");
}
.nav-tel span{
    font-family: Ga;
    font-size: 25px;
}
ul a{
    color: white;
    padding: 10px 40px;
}
.cm-title,ul a:hover,.dp-block-text p{
    color: #f54e05;
}

.my-btn{
    background: #f54e05;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: white;
}
input,textarea{
    border-radius: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.footer{
    min-height: 200px;
    background: #32383d;
    color: grey;
    font-size: 16px;
}