*{
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .contact-us{text-align: center}
    .scale-title{font-size: 22px !important;}
    .scale-btn{
        transform: scale(.8);
        transition: all .8s;
    }
    .nav-ul a:hover{
        color: white !important;
    }

    nav{background: #f54e05}
    .nav-tel,.menu{display: none}
    .nav-btn{float: right}
    .our-service,.about-us{display: none}
    .nav-ul li{
        padding: 10px 0;
    }

    .a-block a{
        display: block;
        margin: 2% 0 !important;
    }
    .about{display: none}
}
@media (min-width: 768px) and (max-width: 991px){
    .scale-title{font-size: 28px !important;}

    nav{background: #f54e05}
    .nav-btn{float: right}
    .nav-tel,.menu{display: none}
    .nav-ul li{
        padding: 10px 0;
    }
}
@media (min-width: 991px){
    .scale-title{font-size: 35px !important;}
    .scale-title{font-size: 35px !important;}

    nav{background: #22282d;}
    .nav-ul li{
        display: inline-block;
    }
    .display-nav li{
        display: block;
        padding: 10px 30px !important;
    }
    .logo,.menu{float: left;}
    .nav-tel{float: right}

    .display-nav{
        position: absolute;
        z-index: 1000;
        left: -27px;
        width: 150%;
        background: #22282d;
    }
    .posi{position: relative}
    .logo,.nav-tel{width: 20%}
    .menu{ width: 60%;margin-top: 20px;}
    .nav-btn{display: none}
    .nav-ul li{
        padding: 0 5%;
    }

}

.menu{
    text-align: center;
}
.logo img{width: 100px;height:60px;padding: 10px 0}
.nav-tel{color: white;margin-top: 10px;text-align: right}
.nav-tel img{margin-right: 10px}
.nav-tel span{
    font-family: Gabriola;
    font-size: 25px;
}
nav{
    position: absolute;z-index: 2;
    width: 100%;
}

.nav-btn {
    background: none;
    border: 1px solid white;
    outline: none;
    color: white;
    margin-top: 12px;
    padding: 1%;
    border-radius: 4px;
}
nav ul{
    list-style: none;
    font-size: 18px;
    font-family: 微软雅黑;
    color: white;
}
.nav-ul li a{
    color: white;
    text-decoration: none;
}
.display-nav{
    display: none;
}
@font-face {
    font-family: 'Ga';
    src: url("../fonts/gabriola.ttf");
}
.cm-title,ul a:hover,.dp-block-text p{
    color: #f54e05;
}

.my-btn{
    background: #f54e05;
    width: 125px;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: none;
    color: white;
}
input,textarea{
    border-radius: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.footer{
    min-height: 200px;
    background: #32383d;
    color: grey;
    font-size: 16px;
}
.a-block{
    margin-bottom: 1%;
}
.a-block a {
    margin: 0 20px;
    color: grey;
}
.a-block a:hover{
    color: grey;
    text-decoration: none;
}