.case-title{
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    padding-top: 60px;
}
.case-title-text{
    padding: 10% 0;
}
.case-block{
    background: #f2f2f2;
    padding: 1% 0;
}
.news{
    min-height: 500px;
    background: white;
    padding: 5% 5%;
}
.news-block{
    padding: 2% 5%;
    overflow: hidden;
    transition: .8s;
}
.news-block p:first-child{
    width: 215px;
    float: left;
    text-align: right;
    font-size: 15px;
    color: gainsboro;
    margin-right: 5%;
}
.day{
    font-size: 5em;
    margin-right: 10%;
    color: gainsboro;
}
a:hover .news-block{
    background: #f54e05;
    color: white;
    text-decoration: none;
    padding: 2% 0;
    transition: .8s;
}
a:hover{
    text-decoration: none !important;
}

.a-title{
    font-size: 20px;
}

@media (max-width: 768px) {
   .news-block p:first-child{
       float: none !important;
       text-align: left !important;
   }
    .case-block{padding: 0 !important;}
}
