.p-title-bg{
    background-image: url("../img/bg3.png");
    background-size: cover;
    padding-top: 60px;
}
.p-bg{
    padding-top: 100px;
    opacity: 0;
    transition: all 0.8s;
    overflow: hidden;
}
.p-title-text{
    font-family: 微软雅黑;
    font-size: 35px;
    color: #333;
    padding: 10% 0;
}
.p-title-text p:nth-child(2){
    color: white;
    font-size: 15px;
}

.product01-display{
    padding: 0 4% 2%;
}
.img-div{text-align: center}
.img-display img{
    width: 100%;
    margin:2% 0;
}
.p-desc-block{
    padding: 4%;
    margin-top: 5%;
}
.p-name{
    font-size: 25px;
    font-family: 微软雅黑;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}
.p-desc{
    font-family: 微软雅黑;
    font-size: 15px;
    color: grey;
    text-indent: 2em;
}
.try-block span:nth-child(2){margin: 4% 0}
.try-block span{
    color: #808080;
    font-size: 15px;
    margin-top: 5%;
}
.try-block a{
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    margin: 0 auto;
}
.try-block a:active{
    color: white;
}
.try-block a:hover{
    text-decoration: none;
    color: white;
}
.img-div img{width: 100%}
@media (max-width: 768px) {
    .font-style{ font-size: 20px !important;}
    .p-img1 img{ margin: 10% 0 !important;}
    .try-block span{display: block;text-align: center !important;}
    .p-name{font-size: 16px !important;}
    ol{margin-left: 6% !important;}
    .p-title-bg{
        background-position-x: -300px;
        background-position-y: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .font-style{ font-size: 25px !important;}
    .p-img1 img{width: 60% !important;margin: 10% 0 !important;}
    .try-block span{display: block;text-align: center !important;}
    .p-name{font-size: 20px !important;}
}

@media (min-width: 991px) and (max-width: 1200px){
    .font-style{ font-size: 25px !important;}
    .p-img1 img{width: 60% !important;margin: 10% 0 !important;}
    .try-block span{display: block;text-align: center !important;}

}