.pro-block{
    padding: 4% 3% 5% 3%;
}

.pro-block-title p{
    font-size: 22px;
    color: black;
}
.pro-block-title span{
    font-size: 15px;
    color: grey;
    display: block;
    padding: 2% 0;
}

.pro-text{
    padding-top: 2%;
}
.pro-text p:nth-child(3){
    text-indent: 2em;
}
ol{margin-left: 3em}
.pro-text p:first-child,.pro-text p:nth-child(4){
    font-size: 18px;
}
.pro-text p:nth-child(3){
    padding-bottom: 2%;
}
.underline-m{
    border: 1px solid gainsboro;
}
.pro-img{text-align: center}
.pro-img img{
    width: 50%;
    margin: 0 auto;
    padding: 1% 1%;
    float: left;
}