{% extends 'layout.html' %}
{% load static %}
{% block  styles%}
    <link rel="stylesheet" href="{% static 'css/about.css'  %}">
    <link rel="stylesheet" href="{% static 'css/product.css'  %}">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=966f62f3be15f23cf33f02f6ed3a5e08"></script>
{% endblock %}
{% block content %}
    <div class="team-title">
        <div class="team-title-bg" style="background-color: rgba(255,255,255,0.7)">
            <div class="container" style="text-align: center">
                <div class="team-title-text">
                    <p>关于 <span style="color: #f54e05">我们</span></p>
                    <p>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team-desc">
        <div class="container" style="padding: 5% 0">
            <div class="team-desc-img col-lg-5">
                <img id="team-img" src="{% static 'img/12.jpg' %}" alt="">
            </div>
            <div class="team-desc-text col-lg-7">
                <p>企业概况</p><br>
                <span>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换応损捠捡换
                    换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</span><br><br>
                <p>企业愿景</p><br>
                <span>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换応损捠捡换
                    换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</span>
            </div>
        </div>
    </div>

    <div class="our-team" style="text-align: center">
        <div class="our-team-text">
            <p>我们的团队</p>
            <p></p>
            <span>青年是我们的核心</span>
        </div>

        <div class="our-team-pic">
            <div class="pic-block">
                <img src="{% static 'img/pic1.png' %}" alt="">
                <p><strong> 量子木 </strong></p>
                <span> python 工程师，web 工程师 </span>
            </div>
            <div class="pic-block">
                <img src="{% static 'img/pic1.png' %}" alt="">
                <p><strong> 量子木 </strong></p>
                <span> python 工程师，web 工程师 </span>
            </div>
            <div class="pic-block">
                <img src="{% static 'img/pic1.png' %}" alt="">
                <p><strong> 量子木 </strong></p>
                <span> python 工程师，web 工程师 </span>
            </div>
            <div class="pic-block">
                <img src="{% static 'img/pic1.png' %}" alt="">
                <p><strong> 量子木 </strong></p>
                <span> python 工程师，web 工程师 </span>
            </div>
        </div>
    </div>

{#    <div class="try-out">#}
{#        <div class="t-bg" style="background: #22282d">#}
{#            <div class="container">#}
{#                <p class="try-block">#}
{#                    <span class="col-lg-8">SOFTWARE让应用程序操作更加简单、更高效、更可靠。</span>#}
{#                    <span class="col-lg-4" style="text-align: right"> <button class="my-btn scale-btn">立即试用</button></span>#}
{#                </p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="contact-block">
        <div class="container" id="ct-us">
            <div class="contact-title">
                <p class="scale-title" style="color: white">联系我们</p>
                <p class="underline"></p>
            </div>

            <form action="#" class="col-lg-6 col-md-6">
                <div class="form-group col-lg-6">
                    <label for="name" class="control-label" style="color: gainsboro"> 姓名:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="name" id="name" value="" placeholder="请输入姓名...">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label for="tel" class="control-label" style="color: gainsboro">联系电话:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="tel" id="tel" value="" placeholder="请输入电话...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="email" class="control-label" style="color: gainsboro">公司名称:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="email" id="email" value=""
                               placeholder="请输入邮箱...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="email" class="control-label" style="color: gainsboro">邮箱:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="email" name="email" id="email" value=""
                               placeholder="请输入邮箱...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="remark" class="control-label" style="color: gainsboro">备注</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <textarea class="form-control" name="remark" id="remark" value=""
                                  placeholder="请输入备注..."></textarea>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <button class="my-btn submit-btn" style="border-radius: 0 ">联系我们</button>
                </div>
            </form>
            <div class="contact-desc col-lg-6 col-lg-6">
                <p>当今最领先的响应式自助建站平台，我们的流线式网页布局设计方案和可视化图文内容编辑模式，无论您是普通互
                    联网用户 还是专业网站制作人员都能使用起飞页设计出最具专业水准的网站</p>
                <br>
                <p>工作时间:9:00 -- 18:00</p>
                <p>工作日:周一至周五，休息日:周六，周日</p>
                <p>125622254@qq.com</p>
                <p>13256214568</p>
            </div>
        </div>
    </div>

    <!-- map container -->
    <div id="container"  style="height: 300px"></div>
    <script>
       var map = new AMap.Map('container', {
            resizeEnable: true,
            zoom:12,
            center: [108.885977,34.185422 ]
        });

       // 创建一个 Marker 实例：
        var marker = new AMap.Marker({
            position: new AMap.LngLat(108.885977,34.185422),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
            title: '康迪泰'
        });

        // 将创建的点标记添加到已有的地图实例：
        map.add(marker);
    </script>

{% endblock %}
{% block scripts %}
    <script>
        $(function () {$("#team-img").css({"transform":"rotate(360deg)"})})
    </script>
{% endblock %}