{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block script %}
    <script src="{% static 'bootstrap-dist/js/bootstrapValidator.min.js' %}"></script>
{% endblock %}
{% block content %}

    <div class="index-pic" style="min-height: 500px;">
        <div id="myCarousel" class="carousel cl-bg" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="active item ">
                    <div class="bg1"></div>
                </div>
                <div class="item">
                    <div class="bg2"></div>
                </div>
                <div class="item">
                   <div class="bg3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="desc">
            <div class="container">
                <p>肉制成产加工信息系统上线</p>
            </div>

    </div>

    <div class="service">
        <div class="container service-container">
            <div class="bg-service col-lg-3 col-md-3 col-sm-1">
                <img src="{% static 'img/buy1.png' %}" width="132" height="100" alt="">
                <p>收购数据自动采集</p>
                <span>称重数据真实可靠，节约人力成本</span>
            </div>
            <div class="bg-service col-lg-3 col-md-3 col-sm-1">
                <img src="{% static 'img/dy.png' %}" width="132" height="100" alt="">
                <p>生产数据采集分析</p>
                <span>生产数据采集分析，为提供最佳生产实践，提高产品质量</span>
            </div>
            <div class="bg-service col-lg-3 col-md-3 col-sm-1">
                <img src="{% static 'img/6.png' %}" alt="">
                <p>精确查询，可视化报表</p>
                <span>快速查询采购，生产，库存等信息，便捷的生成各种可视化图表，为科学的决策提供充分的数据支撑</span>
            </div>

            <div class="bg-service col-lg-3 col-md-3 col-sm-1">
                <img src="{% static 'img/9.png' %}" alt="">
                <p>售后服务</p>
                <span>我们提供完善的售后实施方案和七天的售后服务，为您的生产保驾护航，确保产品的稳定。数据的安全方面提供最强有力的技术支持
                    解决您的后顾之忧。</span>
            </div>
        </div>
    </div>

    <div class="description">
        <div style="background-color: rgba(247,247,247,0.7)">
            <div class="container" style="text-align: center">
                <div class="dp-title">
                    <p class="scale-title">软件平台<span style="color: #f54e05 !important;">核心优势</span></p>
                    <span>Core advantages of software platform</span>
                </div>
                <div class="dp-block">
                    <div class="dp-block-text">
                        <img src="{% static 'img/wl1.png' %}" width="170" height="118" alt="">
                        <div>
                            <p>设备物联</p>
                            <span>数据自动采集，信息真实可靠</span>
                        </div>
                    </div>
                    <div class="dp-block-text">
                        <img src="{% static 'img/sy.png' %}" width="140" height="118" alt="">
                        <div>
                            <p>产品溯源</p>
                            <span>提升产品竞争力和附加值，让产品有身份，让品牌有价值</span>
                        </div>

                    </div>
                    <div class="dp-block-text">
                        <img src="{% static 'img/yun.png' %}" width="140" height="118" alt="">
                        <div>
                            <p>进销存一体化，打造云平台</p>
                            <span>收购，生产，入库一体化的云平台解决方案，打破信息孤岛，增强数据安全，移动性强，专注于真正重要的事情</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="why-us">
        <div class="container" style="text-align: center">
            <div class="act">
                <p class="scale-title">新闻<span style="color: #f54e05">动态</span></p>
                <span style="margin-bottom: 3%"> news </span>

                <div class="news-container">
                    <div id="current-news" class="current-news">
                        <div class="new-text">
                            <p>新闻摘要</p>
                        </div>
                        <div class="new-text">
                            <p>新闻摘要</p>
                        </div>
                        <div class="new-text">
                            <p>新闻摘要</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="customer">
        <div style="background-color:rgba(249,249,249,0.9)">
            <div class="container" style="text-align: center">
                <p class="scale-title cm-title">客户如何评价我们</p>

                <div class="cm-comment">
                    <div class="cm-wapper" id="cm-wapper">
                        <div class="current-img">
                            <div class="img-box cm-pic"><img src="{% static 'img/pic2.png' %}" alt=""></div>
                            <div class="wu-text cm-text">

                                <h3>张志军</h3>
                                <p style="color: #f54e05">锡林浩特蒙辰畜牧业公司CEO</p>
                                <p>
                                    牛羊肉屠宰信息系统为我们节省了人力资源，收购数据的自动采集提高了我们的收购效率，可视化的收购统计
                                    ，科学的数据分析，提高了产品收益。对于仓库的管理更加方便明了，肉制品溯源让食品安全提升了一个高度。
                                    让收购，生产，入库，销售一体化，有利于数据相互交流，方便运营管理。
                                </p>
                            </div>
                        </div>

                        <div class="current-img">
                            <div class="img-box cm-pic"><img src="{% static 'img/pic1.png' %}" alt=""></div>
                            <div class="wu-text cm-text">
                                <h3>廖思源</h3>
                                <p style="color: #f54e05">XXX 公司创始人</p>
                                <p>
                                    系统通过软件和吊秤，地称的硬件系统进行连接，将数据自动采集到系统中来，在对收购的数据进行相关的运算
                                    并应用在不同的子模块中去，进行相关的数据统计分析，和原来采集的数据对比，是我们的业务数据一目了然，同
                                    时库存预警，为我们销售环节做出相关提醒和警报。使我们的销售数据化，系统化。
                                </p>
                            </div>
                        </div>

                        <div class="current-img">
                            <div class="img-box cm-pic"><img src="{% static 'img/pic1.png' %}" alt=""></div>
                            <div class="wu-text cm-text">
                                <h3>张贺</h3>
                                <p style="color: #f54e05">XXX 公司创始人</p>
                                <p>
                                    系统使用统一的客户端，将所有数据放在同一个数据库中，便于查找和分析，各个角色给与不同的权限去访问，提高
                                    数据信息的使用效率，各个业务逻辑模块化，可以随意拆分和搭建，具有良好的可扩展性。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cm-control" style="margin-bottom: 30px">
                    <button id="first"></button>
                    <button id="next"></button>
                    <button id="last"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="try-it" id="try-it">
        <div class="container">
            <form action="#" id="frm-data" class="col-lg-7 col-md-7">
                <p class="scale-title" style="color: #f54e05;margin-bottom: 50px">您对我们的支持是我们最大的动力</p>
                <div class="form-group col-lg-6">
                    <label for="name" class="control-label"> 姓名:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="name" id="name" value="" placeholder="请输入姓名...">
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <label for="tel" class="control-label">联系电话:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="tel" id="tel" value="" placeholder="请输入电话...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="company" class="control-label">公司名称:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="text" name="company" id="company" value=""
                               placeholder="请输入邮箱...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="email" class="control-label">邮箱:</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <input class="form-control" type="email" name="email" id="email" value=""
                               placeholder="请输入邮箱...">
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label for="remark" class="control-label">备注</label>
                    <div class="col-lg-12" style="padding-left: 0">
                        <textarea class="form-control" name="remark" id="remark" value=""
                                  placeholder="请输入备注..."></textarea>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <button class="my-btn submit-btn" id="sbm-btn">申请试用</button>
                </div>
            </form>

            <div class="frm-img col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
                <img  src="{% static 'img/5.png' %}" alt="">
            </div >
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        var size = 0;
        function next() {
            if(size < 60){
                size = size + 33.333;
                $('#current-news').css({'transform':'translate(-'+size+'%)'})
            } else {
                size = -33.33
            }
        }
        setInterval("next()",5000);
    </script>
{% endblock %}