{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>肉制品加工-康迪泰软件-牛羊肉屠宰加工</title>
    <meta name="Description" Content="肉制品加工软件是西安康迪泰信息技术有限公司为牛羊肉屠宰加工，肉类生产企业打造一体化的信息管理系统。系统采用云端部署，设备物联，信息共享等技术将传统企业推向大数据时代。">
    <meta name="Keywords" Content="屠宰软件,牛羊屠宰加工,生猪屠宰加工,肉类生产,康迪泰软件,信息管理系统">
    <link rel="icon" href="{% static 'img/title.png' %}" type="image/x-icon">
    <link href="{% static 'bootstrap-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-dist/js/bootstrap.min.js' %}"></script>
    {% block styles %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
<nav class="nav">
    <div class="container-fluid">
        <div class="container nav-f">
            <div class="logo">
                <img class="logo" src="{% static 'img/logo0.png' %}" alt="">
                <button class="nav-btn"><span class="glyphicon glyphicon-align-justify nav-list"></span></button>
            </div>

            <div class="menu">
                <ul class="nav-ul">
                    <li><a href="http://www.conditec.cn/">首页</a></li>
                    <li class="posi" onmouseleave="leave()"><a href="javascript:void(0)">产品</a><b class="caret"></b>
                        <ul class="display-nav">
                            <li><a href="/product">牛羊肉加工</a></li>
{#                            <li><a href="">猪肉加工</a></li>#}
                        </ul>
                    </li>
                    <li><a href="/news">动态</a></li>
                    <li><a href="/about">关于</a></li>
                    <li><a href="/forum">问答</a></li>
                </ul>
            </div>

            <div class="nav-tel">
                <img src="{% static 'img/tel.png' %}" width="40" alt="">
                <span>029-81126683</span>
            </div>
        </div>
    </div>
</nav>


<div class="main-page">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    <div style="padding: 50px 0 30px 0">
        <div class="container">
        <div align="center">
            <div><strong>关于我们</strong></div>
            <p class="about" style="padding: 2% 5% 1%">西安康迪泰信息技术有限公司是一家为肉制品生产企业提供专业软件开发、运营维护的专业化公司，公司以软件技术为核心，提供专业的解
                决方案以及相关软件产品、平台及服务，聚焦云服务的大数据综合服务提供商。</p>
            <div class="a-block">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;电话:029-81126683</a>
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;地址:西安市高新区唐延南路i都会</a>
            </div>

            <p>备案号：陕ICP备 18018004 号-1</p>
        </div>
    </div>
</div>
</div>
</body>
<script>
    var count = 1;
    function oplist() {
        count ++;
        if(count %2 === 0){
            $(".display-nav").css({"display":"block"})
        }else {
            $(".display-nav").css({"display":"none"})
        }
    }
    $(".nav-btn").click(function () {
        count++;
        if (count % 2 === 0) {
            $(".menu").css({"display": "block"})
        } else {
            $(".menu").css({"display": "none"})
        }
    })
    function leave() {
        $(".display-nav").css({"display": "none"})
    }
    $(".posi").hover(function () {
        $(".display-nav").css({"display": "block"})
    })
</script>
<script src="{% static 'js/layout.js' %}"></script>
{% block scripts %}{% endblock %}
</html>