{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Condetic</title>
    <link href="{% static 'bootstrap-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/layout.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-dist/js/bootstrap.min.js' %}"></script>
    {% block styles %}{% endblock %}
    {% block script %}{% endblock %}
</head>
<body>
<nav class="nav">
    <div class="container-fluid">
        <div class="container nav-f">
            <div class="logo">
                <img class="logo" src="{% static 'img/logo.png' %}" alt="">
                <button class="nav-btn"><span class="glyphicon glyphicon-align-justify"></span></button>
            </div>


            <div class="menu">
                <ul class="nav-ul">
                    <li><a href="http://www.conditec.cn/">首页</a></li>
                    <li class="posi" onmouseleave="leave()"><a href="javascript:void(0)">产品</a><b class="caret"></b>
                        <ul class="display-nav">
                            <li><a href="/product">牛羊肉加工</a></li>
{#                            <li><a href="">猪肉加工</a></li>#}
                        </ul>
                    </li>
                    <li><a href="/news">动态</a></li>
                    <li><a href="/about">关于</a></li>
{#                    <li><a href="/forum">社区</a></li>#}
                </ul>
            </div>

            <div class="nav-tel">
                <img src="{% static 'img/tel.png' %}" width="40" alt="">
                <span>029-81126683</span>
            </div>
        </div>
    </div>
</nav>


<div class="main-page">
    {% block content %}{% endblock %}
</div>

<div class="footer">
    <div style="padding: 50px 0 30px 0">
        <div class="container">
{#            <div class="about-us col-lg-4 col-md-4 col-sm-4">#}
{#                <p style="font-size: 18px"> <strong>关于我们</strong></p><br>#}
{#                <p>#}
{#                    西安康迪泰信息技术有限公司是一家为肉制品生产企业提供专业软件开发、运营维护的专业化公司，公司以软件技术为核心，提供专业的解#}
{#                    决方案以及相关软件产品、平台及服务，聚焦云服务的大数据综合服务提供商。#}
{#                </p>#}
{#            </div>#}
{#            <div class="our-service col-lg-5 col-md-5 col-sm-4" align="center">#}
{#                <p style="font-size: 18px"> <strong>我们的服务</strong></p><br>#}
{#                <p>屠宰加工软件</p>#}
{#                <p>中央厨房</p>#}
{#                <p>食品安全追溯</p>#}
{#                <p>备案号：陕ICP备 18018004 号-1</p>#}
{#            </div>#}
{#            <div class="contact-us col-lg-3 col-md-3 col-sm-4">#}
{#                <p style="font-size: 18px"><strong>联系我们</strong></p><br>#}
{#                <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;电话:029-81126683</p>#}
{#                <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;邮箱:7211334@qq.com</p>#}
{#                <p><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;网址:www.dangditai.cn</p>#}
{#                <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;地址:西安市高新区唐延南路</p>#}
{#            </div>#}
{#        </div>#}
        <div align="center">
            <div><strong>关于我们</strong></div>
            <p class="about" style="padding: 2% 5% 1%">西安康迪泰信息技术有限公司是一家为肉制品生产企业提供专业软件开发、运营维护的专业化公司，公司以软件技术为核心，提供专业的解
                决方案以及相关软件产品、平台及服务，聚焦云服务的大数据综合服务提供商。</p>
            <div class="a-block">
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;电话:029-81126683</a>
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;地址:西安市高新区唐延南路</a>
                <a href="javascript:void(0)"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;邮箱:7211334@qq.com</a>
            </div>

            <p>备案号：陕ICP备 18018004 号-1</p>
        </div>
    </div>
</div>
</div>
</body>
<script>
    var count = 1;
    function oplist() {
        count ++;
        if(count %2 === 0){
            $(".display-nav").css({"display":"block"})
        }else {
            $(".display-nav").css({"display":"none"})
        }
    }
    $(".nav-btn").click(function () {
        count++;
        if (count % 2 === 0) {
            $(".menu").css({"display": "block"})
        } else {
            $(".menu").css({"display": "none"})
        }
    })
    function leave() {
        $(".display-nav").css({"display": "none"})
    }
    $(".posi").hover(function () {
        $(".display-nav").css({"display": "block"})
    })
</script>
<script src="{% static 'js/index.js' %}"></script>
{% block scripts %}{% endblock %}
</html>