{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
    <div class="case-title">
        <div class="container" style="text-align: center">
            <div class="case-title-text">
                <p class="scale-title">公司<span style="color: #f54e05">新闻</span></p>
                <p>Our case</p>
            </div>
        </div>
    </div>

    <div class="case-block">
        <div class="container news">
            <a class="a-link" href="javascript:void(0)">
                <div class="news-block">
                    <p><span class="day">09-22</span> 2018</p>
                    <p><span class="a-title">牛羊肉食品加工信息管理系统上线</span></p>
                    <p class="a-text">免费版：0元，云空间使用阿里云，价格参考阿里云，月服务费980元</p>
                    <p class="a-text">企业版：20万元，阿里云空间，包含温湿度传感器，风速传感器，扫描枪等硬件设备月服务费380元</p>
                    <p class="a-text">免费版：35万元，云空间使用阿里云，根据您提出的要求定制，月服务费380元</p>
                </div>
            </a>

            <a class="a-link" href="javascript:void(0)">
                <div class="news-block">
                    <p><span class="day">08-12</span> 2018</p>
                    <span class="a-title">新闻标题</span><br>
                    <p class="a-text">新闻简介.....&gt;</p>
                </div>
            </a>

            <a class="a-link" href="javascript:void(0)">
                <div class="news-block">
                    <p><span class="day">06-25</span> 2018</p>
                    <span class="a-title">新闻标题</span><br>
                    <p class="a-text">新闻简介.....&gt;</p>
                </div>
            </a>
        </div>

    </div>

{% endblock %}
{% block scripts %}
    <script>

    </script>
{% endblock %}