{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
    <div class="case-title">
        <div class="container" style="text-align: center">
            <div class="case-title-text">
                <p class="scale-title">公司<span style="color: #f54e05">新闻</span></p>
                <p>Our case</p>
            </div>
        </div>
    </div>

    <div class="case-block">
        <div class="container news">
            <a class="a-link" href="javascript:void(0)">
                <div class="news-block">
                    <p><span class="day">09-22</span> 2018</p>
                    <p><span class="a-title">肉类生产企业管理信息系统上线</span></p>
                    <p>肉类生产企业管理信息系统是专门面向肉类企业推出的一套一站式信息化解决方案，该平台采用了云端部署，设备物联
                        信息共享，智能分析等技术，优化了企业的生产加工流程，提高效率，节约人力成本。利用互联网优势为企业的生产，
                        营销变革做充分的数据支撑，促进肉类生产企业 迈向互联网，大数据时代。
                    </p>
                </div>
            </a>
        </div>

    </div>

{% endblock %}
{% block scripts %}
    <script>

    </script>
{% endblock %}