{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/price.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}

    <div class="bg-img">
        <div class="container" align="center">
            <p class="scale-title price-title">互联网时代的<span style="color: #f54e05">工作态度</span></p>
            <p style="color: gainsboro">让企业更高效，让工作更简单，提供企业沟通，协作，办公，管理所需要一切方式</p>
            <div class="price-block">
                <div class="p">
                    <p>企业版</p>
                    <span> ￥ <span style="font-size: 40px;color: grey">1500000</span> 元</span>
                    <div class="yun">
                        <span>云空间:1核2G(阿里云)</span>
                        <span>云空间:2核4G(阿里云)</span>
                        <span>云空间:4核8G(阿里云)</span>
                        <span>服务费:380元/月</span>
                        <button class="scale-btn"> 立即试用</button>
                    </div>

                </div>
                <div class="p" id="late">
                    <p>免费版</p>
                    <span> ￥ <span style="font-size: 40px;color: #f54e05">0</span> 元</span>
                    <div class="yun">
                        <span>云空间:1核2G(阿里云)</span>
                        <span>云空间:2核4G(阿里云)</span>
                        <span>云空间:4核8G(阿里云)</span>
                        <span>服务费:900元/月</span>
                        <button class="scale-btn mid-btn"> 立即试用</button>
                    </div>
                </div>
                <div class="p">
                    <p>定制版</p>
                    <span> ￥ <span style="font-size: 40px;color: grey">300000</span> 元</span>
                    <div class="yun">
                        <span>云空间:1核2G(阿里云)</span>
                        <span>云空间:2核4G(阿里云)</span>
                        <span>云空间:4核8G(阿里云)</span>
                        <span>服务费:380元/月</span>
                        <button class="scale-btn"> 立即试用</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="try-out">
        <div class="t-bg" style="background: #22282d">
            <div class="container">
                <p class="try-block">
                    <span class="col-lg-10">SOFTWARE让应用程序操作更加简单、更高效、更可靠。</span>
                    <span class="col-lg-2" style="text-align: right"> <a href="http://127.0.0.1:8000/" class="my-btn scale-btn">立即试用</a></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $(".p").css({"bottom":"-5px"})

        })
    </script>
{% endblock %}