{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="p-title">
        <div class="p-title-bg col-lg-12 col-md-12 col-sm-12">
            <div class="container" align="center">
                <div class="p-title-text">
                    <p class="scale-title">我们的 <span style="color: #f54e05">产品</span></p>
                    <p>优质的产品给您带来不一样的体验</p>
                </div>

            </div>
        </div>
    </div>

    <div class="product1">
        <div class="p-bg container">
            <div class="product01-display">
                <p class="p-name" style="padding-top:10% ">牛羊肉屠宰加工信息系统</p>
                <p>一.行业现状</p>
                <p class="p-desc">
                    一直以来，食品的质量安全问题总是备受瞩目，目前“瘦肉精”、“毒韭菜”时有耳闻；“问题奶粉”事件更是发人深思，教育深刻，目前对于
                    食品在流通过程中出现的系列问题，追溯起来相当麻烦，甚至有些根本无法查处召回，建立食品消费安全与追溯体系是关系国计民生的重要
                    系统工程。<br>
                    食品质量安全追溯体系主要是利用现代信息技术手段，建立覆盖屠宰厂（场）、批发市场、菜市场、超市及团体消费等流通环节的追溯子系
                    统，通过集成电路卡（IC）、无线射频识别（RFID）、条码等传递追溯信息，并通过建立统一区域追溯管理平台，实现肉菜产品的来源可
                    追溯、去向可查证、责任可追究，落实经营者和市场开办者的主体责任，提高农产品流通的组织化、包装化和信息化水平，增强食品安全保
                    障能力。
                </p>
                <p>二.平台架构图</p>
                <p class="p-desc">环形功能架构图</p>
                <div class="img-div">
                    <img src="{% static 'img/product01.png' %}" alt="">
                </div>
                <p>三.平台功能特点</p>
                <ol>
                    <li>数据实时采集:通过软件和地秤，吊轨称，等硬件系统连接，自动采集收购数据，防止信息捣鼓。</li>
                    <li>数据实时运算:将采集的数据根据不同的环节的需要进行运算，并根据要求发送到不同的模块中去，可以大大的减少人工计算的时间。</li>
                    <li>数据统计分析:可以对公司员工的工作情况，车间加工情况统计，利润的分析，在和收购的数据进行比较，以图表结合的形式直观表达
                        给公司领你导提供决策支持。
                    </li>
                    <li>设备物联:加工环节由软件和硬件连接，控制风速，温度，适度等，最科学的数据将您的损耗降至最低。</li>
                    <li>库存预警:在收购环节，屠宰加工环节，销售环节都有可能存在业务风险，系统可以设置预警值，如果有数据超过预警值就会进行
                        提醒和警报。
                    </li>
                    <li>产品溯源:产品可以追溯，让您随时可以了解到每件产品的信息，以保证产品的安全质量。</li>
                    <li>信息共享:数据存放在同一个数据库中，每个环节数据统一存放，通过不同的权限来访问不同的数据，提高数据信息使用效率。</li>
                    <li>维护方便:用户使用同一客户端，不需要大量纸质介质存放信息，方便查找编辑分析，操作简单实用</li>
                    <li>扩展性强:各个业务逻辑模块化，可以随意拆封搭建，具有良好的可扩展性。</li>
                    <li>操作简单:系统支持电脑客户端平板，手机操作，简单方便，提高业务效率。</li>
                </ol>

            </div>
        </div>
    </div>

    <div class="try-out">
        <div class="t-bg" style="background: #22282d">
            <div class="container">
                <p class="try-block">
                    <span class="col-lg-10">SOFTWARE让应用程序操作更加简单、更高效、更可靠。</span>
                    <span class="col-lg-2" style="text-align: right"> <a href="http://127.0.0.1:8000/" class="my-btn scale-btn">立即试用</a></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(function () {
        $(".p-bg").css({"opacity":"1","padding-top":"0"})
    })
    </script>
{% endblock %}