{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="p-title">
        <div class="p-title-bg col-lg-12 col-md-12 col-sm-12">
            <div class="container" align="center">
                <div class="p-title-text">
                    <p class="scale-title">我们的 <span style="color: #f54e05">产品</span></p>
                    <p>our products</p>
                </div>

            </div>
        </div>
    </div>

    <div class="product1">
        <div class="p-bg container">
            <div class="product01-display">
                <p class="p-name" style="padding-top:10% ">牛羊肉生产管理信息系统(MPMIS)</p>
                <p class="p-desc">
                    肉制品生产管理信息系统(MPMIS)是西安康迪泰信息技术有限公司专门面向肉制品生产加工企业推出的一套一站式信息化解决方案，满足面
                    向牛羊等家禽的屠宰生产加工企业的信息化需求。该平台采用了云端部署，设备物联，信息共享，智能分析等技术。产品的使用可以优化
                    企业的生产加工流程，提升效率，节约人力成本，为企业发展做好充分的数据支撑，利用互联网优势，为企业的营销打开新的局面。
                </p>
                <p>一.行业现状</p>
                <p class="p-desc">
                    小型企业：基本处于原始的生产模式，企业所有数据基本都是原始的手工记录，弊端很多：人力成本的增加，效率低下，错误频繁，整个收
                    购、生产、入库、销售等数据不能做到实时，准确，可靠等现现代企业发展的要求。
                </p>
                <p class="p-desc">
                    中型企业：发展到一定阶段的企业基本也有实现信息化的一些迫切需求，但市面上很少肉制品行业信息化软件的成熟产品，多数企业会上很
                    多的管理软件，如财务，进销存，称重管理软件等等，结果就是企业软件用的很多，但工作效率没提升，反而只能加了员工负担，因为每个
                    软件都是信息孤岛，没法整合到一起，很多时候需要这里导出数据，然后输入到另外的系统中，加上员工普遍对计算机操作的不熟练，因此
                    造成一个误区，企业认为信息化没有效果，反而降低了工作效率，从而坦之色变，武断的拒绝，我们不需要信息化。当然市面上也有一些针
                    对于屠宰行业的信息化软件，但普遍技术研发跟不上时代，同时价格虚高，对于中小企业来 说成为了一种负担。
                </p>
                <p class="p-desc">
                    大型企业：对于一些大型的肉制品加工企业，根据特点的信息化需求，会定制开发，比如内蒙某羊肉生产企业上这一套生产管理软件，成本
                    达到近200万。
                </p>

                <p>二.解决方案</p>
                <p class="p-desc">
                    我们深切的理解中小企业发展的艰辛，我们也把帮组肉制品生产企业实现信息化作为己任，因此我们呢对于中小型企业的信息化需求和实际
                    情况，我们推出了 <span style="color: #f54e05">免费版</span>，同时针对一些中大型的企业，为了满足特定业务需求，我们在原有基础上推
                    出企业版和定制版。 肉制品生产管 理信息系统(MPMIS)是一体化的专业的肉制品生产软件，打破了企业的信息孤岛，实现了数据采集（
                    称重传感器，温湿度传感器等等），云端存储，精准查询，数据统计，智能分析等。我们的解决方案如下
                </p>
                <div class="img-div">
                    <img src="{% static 'img/p1.png' %}" alt="">
                </div>
                <p>三.产品版本</p>
                <table class="table table-bordered">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>免费版</td>
                        <td>企业版</td>
                        <td>定制版</td>
                    </tr>
                    <tr>
                        <td rowspan="17"> pc端</td>
                        <td rowspan="6">收购</td>
                        <td>活体称重</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>胴体称重</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>收购结算</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>客户例表</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>综合查询</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>统计分析</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="4">生产</td>
                        <td>排酸称重</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>排酸环境监控</td>
                        <td><span><i class="glyphicon glyphicon-minus "></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>分割产品识别</td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-minus "></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>人工智能分割</td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-minus "></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="7">进销存</td>
                        <td>产品管理</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>生产入库</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>进货</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>销售</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>仓库</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>客户管理</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>统计分析</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="12">移动端</td>
                        <td rowspan="4">收购</td>
                        <td>收购台账</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>收购统计</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>客户列表</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>收购结算</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">生产</td>
                        <td>排酸出成查看</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>排酸环境监控</td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="6">经销存</td>
                        <td>生产入库</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>进货</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>销售</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>仓库</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>客户管理</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>统计分析</td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td rowspan="5">物联网</td>
                        <td>电子称</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>条码枪</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>温/湿度传感器</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>风速传感器</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>工业摄像机</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    <tr>
                        <td>财务对接</td>
                        <td>用友/金蝶</td>
                        <td></td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-minus"></i></span></td>
                        <td><span><i class="glyphicon glyphicon-ok"></i></span></td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(function () {
        $(".p-bg").css({"opacity":"1","padding-top":"0"})
    })
    </script>
{% endblock %}