{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="p-title">
        <div class="p-title-bg col-lg-12 col-md-12 col-sm-12">
            <div class="container" align="center">
                <div class="p-title-text">
                    <p class="scale-title">我们的 <span style="color: #f54e05">产品</span></p>
                    <p>优质的产品给您带来不一样的体验</p>
                </div>

            </div>
        </div>
    </div>

    <div class="product1">
        <div class="p-bg container ">
            <div class="p-img1 col-lg-6">
                <img src="{% static 'img/11.png' %}" alt="">
            </div>
            <div class="p-desc-block col-lg-6">
                <p class="p-name scale-title">肉制品加工系统介绍</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
            </div>
        </div>
    </div>

    <div style="background-color: #f4f4f4">
        <div class="container p-bg">
            <div class="p-desc-block col-lg-6">
                <p class="p-name scale-title">肉制品加工系统介绍</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
            </div>

            <div class="p-img1 col-lg-6">
                <img src="{% static 'img/11.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="product1">
        <div class="container p-bg">
            <div class="p-img1 col-lg-6">
                <img src="{% static 'img/11.png' %}" alt="">
            </div>
            <div class="p-desc-block col-lg-6">
                <p class="p-name scale-title">肉制品加工系统介绍</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
                <p class="p-desc">怃怄怅怆怇怈怉怊怌怍怏怐怑怓怔，怗怘怙怚怛怞怟怡怢怤怦怩怫怬怭。怮怯怲怳怴怵怶怷怸怹怺怼悙怿？
                    恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。恑恒恔恖恘恙恛恜恝恞恠恡恦，
                    恧恫恬恮恰恱恲恴恷恹恲恴恲恴怳怴怵怶怷怸怹怺怼悙怿？恀恂恃恄恅忨忩忪忬忭忮忯，恒恇恈恌恍恎恏。
                    恑恒恔恖恘恙恛恜恝恞恠恡恦，恧恫恬恮恰恱恲恴恷恹恲恴恲恴恷</p>
            </div>
        </div>
    </div>

    <div class="try-out">
        <div class="t-bg" style="background: #22282d">
            <div class="container">
                <p class="try-block">
                    <span class="col-lg-8">SOFTWARE让应用程序操作更加简单、更高效、更可靠。</span>
                    <span class="col-lg-4" style="text-align: right"> <button class="my-btn scale-btn">立即试用</button></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
    $(function () {
        $(".p-bg").css({"opacity":"1","padding-top":"0"})
    })
    </script>
{% endblock %}