{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/case.css' %}">
    <link rel="stylesheet" href="{% static 'css/project01.css' %}">
{% endblock %}
{% block content %}
    <div class="case-title">
        <div class="container" style="text-align: center">
            <div class="case-title-text">
                <p class="scale-title">我们的 <span style="color: #f54e05">案例</span></p>
                <p>Our case</p>
            </div>
        </div>
    </div>

    <div class="pro-block">
        <div class="container">
            <div class="pro-block-title">
                <p><strong> 牛羊肉屠宰加工信息系统 </strong></p>
            </div>
            <div class="pro-text">
                <p>一.项目背景:</p>
                <p>
                    随着企业的不断壮大，人员不断增加，管理任务也日益繁重，通过运营管理软件，可以改进办公方式，规范作业流程，进一步提高工效率
                    ，增强工作协同能力，减少工作人员操作的重复，复杂程度，同时可以减少工作人员的数量，消除传统办公信息在储存，共享，管理发布
                    方面的障碍，消除信息捣鼓，让各环节数据有机会结合，增强对采购，加工，销售，库存各个环节的考核管理工作，增加对工作的针对性
                    和有效性，提高日常办公管理水平。
                </p>
                <p>二.产品追溯体系流程</p>
                <div style="text-align: center;padding: 5% 0">
                    <img src="{% static 'img/case0.png' %}" width="80%" alt="">
                </div>
                <p>三.平台功能介绍</p>
                <p>
                    追溯管理管理平台是区域追溯体系的重要组成部分，具有“承上启下”的作用，向上与区域追溯平台对接，接受区域追溯平台的监管；向下对
                    各节点子系统进行监管，汇总追溯数据并开展综合分析利用。追溯管理平台是追溯体系的数据中心、对节点的管理中心和应急指挥中心。
                    该管理平台主要实现将盖屠宰厂（场）、批发市场、菜市场、超市及团体消费各个子系统上报的食品流通信息相连接，实现监管、追溯、溯
                    源查询、问题食品召回、分析。
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}