{% extends 'layout.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/case.css' %}">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}
{% block content %}
    <div class="case-title">
        <div class="container" style="text-align: center">
            <div class="case-title-text">
                <p class="scale-title">我们的 <span style="color: #f54e05">案例</span></p>
                <p>Our case</p>
            </div>
        </div>
    </div>

    <div class="pro-block">
        <div class="container">
            <div class="pro-block-title">
                <p><strong> 牛羊肉屠宰加工信息系统 </strong></p>
                <span>日期:2018-07-25</span>
            </div>
            <img src="{% static 'img/case1.png' %}" width="100%" alt="">
            <div class="pro-text">
                <p>项目背景:</p>
                <p class="underline-m"></p>
                <p>
                    随着企业的不断壮大，人员不断增加，管理任务也日益繁重，通过运营管理软件，可以改进办公方式，规范作业流程，进一步提高工效率
                    ，增强工作协同能力，减少工作人员操作的重复，复杂程度，同时可以减少工作人员的数量，消除传统办公信息在储存，共享，管理发布
                    方面的障碍，消除信息捣鼓，让各环节数据有机会结合，增强对采购，加工，销售，库存各个环节的考核管理工作，增加对工作的针对性
                    和有效性，提高日常办公管理水平。
                </p>
                <p>系统特色:</p>
                <p class="underline-m"></p>
                <ol>
                    <li>数据实时采集:通过软件和地秤，吊轨称，等硬件系统连接，自动采集收购数据，防止信息捣鼓。</li>
                    <li>数据实时运算:将采集的数据根据不同的环节的需要进行运算，并根据要求发送到不同的模块中去，可以大大的减少人工计算的时间。</li>
                    <li>数据统计分析:可以对公司员工的工作情况，车间加工情况统计，利润的分析，在和收购的数据进行比较，以图表结合的形式直观表达
                        给公司领导提供决策支持。
                    </li>
                    <li>设备物联:加工环节由软件和硬件连接，控制风速，温度，适度等，最科学的数据将您的损耗降至最低。</li>
                    <li>库存预警:在收购环节，屠宰加工环节，销售环节都有可能存在业务风险，系统可以设置预警值，如果有数据超过预警值就会进行
                        提醒和警报。
                    </li>
                    <li>产品溯源:产品可以追溯，让您随时可以了解到每件产品的信息，以保证产品的安全质量。</li>
                    <li>信息共享:数据存放在同一个数据库中，每个环节数据统一存放，通过不同的权限来访问不同的数据，提高数据信息使用效率。</li>
                    <li>维护方便:用户使用同一客户端，不需要大量纸质介质存放信息，方便查找编辑分析，操作简单实用</li>
                    <li>扩展性强:各个业务逻辑模块化，可以随意拆封搭建，具有良好的可扩展性。</li>
                    <li>操作简单:系统支持电脑客户端平板，手机操作，简单方便，提高业务效率。</li>
                </ol>

            </div>

            <div class="pro-img">
                <img src="{% static 'img/pro1.png' %}" alt="">
                <img src="{% static 'img/pro2.png' %}" alt="">
                <img src="{% static 'img/pro3.png' %}" alt="">
                <img src="{% static 'img/pro4.png' %}" alt="">
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}{% endblock %}