{% extends 'layout.html' %}
{% load static %}
{% block  styles%}
    <link rel="stylesheet" href="{% static 'css/team.css'  %}">
    <link rel="stylesheet" href="{% static 'css/product.css'  %}">
{% endblock %}
{% block content %}
    <div class="team-title">
        <div class="team-title-bg" style="background-color: rgba(255,255,255,0.7)">
            <div class="container" style="text-align: center">
                <div class="team-title-text">
                    <p>关于 <span style="color: #f54e05">我们</span></p>
                    <p>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team-desc">
        <div class="container" style="padding: 5% 0">
            <div class="team-desc-img col-lg-5">
                <img id="team-img" src="{% static 'img/12.jpg' %}" alt="">
            </div>
            <div class="team-desc-text col-lg-7">
                <p>企业概况</p><br>
                <span>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换応损捠捡换
                    换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</span><br><br>
                <p>企业愿景</p><br>
                <span>応损捠捡换换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换応损捠捡换
                    换攴朰朲朳枛朸桹，夲夳夵壱売壳圢圤圦圧圩圪囡団囤囥咍咎壱売壳圢圤圥圦応损捠捡换</span>
            </div>
        </div>
    </div>

    <div class="our-team" style="text-align: center">
{#        <div class="container" style="text-align: center">#}
            <div class="our-team-text">
                <p>我们的团队</p><p></p>
                <span>青年是我们的核心</span>
            </div>

            <div class="our-team-pic">
                <div class="pic-block">
                    <img src="{% static 'img/pic1.png' %}" alt="">
                    <p><strong> 量子木 </strong></p>
                    <span> python 工程师，web 工程师 </span>
                </div>
                <div class="pic-block">
                    <img src="{% static 'img/pic1.png' %}" alt="">
                    <p><strong> 量子木 </strong></p>
                    <span> python 工程师，web 工程师 </span>
                </div>
                <div class="pic-block">
                    <img src="{% static 'img/pic1.png' %}" alt="">
                    <p><strong> 量子木 </strong></p>
                    <span> python 工程师，web 工程师 </span>
                </div>
                <div class="pic-block">
                    <img src="{% static 'img/pic1.png' %}" alt="">
                    <p><strong> 量子木 </strong></p>
                    <span> python 工程师，web 工程师 </span>
                </div>
            </div>
{#        </div>#}
    </div>

    <div class="try-out">
        <div class="t-bg" style="background: #22282d">
            <div class="container">
                <p class="try-block">
                    <span class="col-lg-8">SOFTWARE让应用程序操作更加简单、更高效、更可靠。</span>
                    <span class="col-lg-4" style="text-align: right"> <button class="my-btn scale-btn">立即试用</button></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {$("#team-img").css({"transform":"rotate(360deg)"})})
    </script>
{% endblock %}