{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/course.css' %}">
{% endblock %}
{% block content %}
    <div class="course-page layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">肉类企业管理信息系统教程之收购部分</div>
                <div class="layui-card-body course-page-p">
                    <video width="100%" controls>
                        <source src="http://conditec.cn/shougou.mp4" type="video/mp4">
                        您的浏览器不支持html播放。
                    </video>
                </div>
            </div>
        </div>

        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">肉类企业管理信息系统教程之进销存部分</div>
                <div class="layui-card-body course-page-p">
                    <video width="100%" controls>
                        <source src="http://conditec.cn/jinxiaocun.mp4" type="video/mp4">
                        您的浏览器不支持html播放。
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
