{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/course.css' %}">
{% endblock %}
{% block content %}
        <div class="course-page layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">牛羊肉生产加工信息系统</div>
                    <div class="layui-card-body">
                        肉制品生产管理信息系统(MPMIS)是西安康迪泰信息技术有限公司专门面向肉制品生产加工企业推出的一套一站式信息化解决方案，满足面
                        向牛羊等家禽的屠宰生产加工企业的信息化需求。该平台采用了云端部署，设备物联，信息共享，智能分析等技术。产品的使用可以优化
                        企业的生产加工流程，提升效率，节约人力成本，为企业发展做好充分的数据支撑，利用互联网优势，为企业的营销打开新的局面。

                        一.行业现状

                        小型企业：基本处于原始的生产模式，企业所有数据基本都是原始的手工记录，弊端很多：人力成本的增加，效率低下，错误频繁，整个收
                        购、生产、入库、销售等数据不能做到实时，准确，可靠等现现代企业发展的要求。

                        中型企业：发展到一定阶段的企业基本也有实现信息化的一些迫切需求，但市面上很少肉制品行业信息化软件的成熟产品，多数企业会上很
                        多的管理软件，如财务，进销存，称重管理软件等等，结果就是企业软件用的很多，但工作效率没提升，反而只能加了员工负担，因为每个
                        软件都是信息孤岛，没法整合到一起，很多时候需要这里导出数据，然后输入到另外的系统中，加上员工普遍对计算机操作的不熟练，因此
                        造成一个误区，企业认为信息化没有效果，反而降低了工作效率，从而坦之色变，武断的拒绝，我们不需要信息化。当然市面上也有一些针
                        对于屠宰行业的信息化软件，但普遍技术研发跟不上时代，同时价格虚高，对于中小企业来 说成为了一种负担。

                        大型企业：对于一些大型的肉制品加工企业，根据特点的信息化需求，会定制开发，比如内蒙某羊肉生产企业上这一套生产管理软件，成本 达到近200万。
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">猪肉生产加工信息系统</div>
                    <div class="layui-card-body">
                        内容
                    </div>
                </div>
            </div>

            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">电商平台</div>
                    <div class="layui-card-body">
                        内容
                    </div>
                </div>
            </div>
        </div>
{% endblock %}