{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/forums.css' %}">
{% endblock %}
{% block content %}
    <div style="padding: 20px 0" class="layui-row layui-col-space15">
         <div class="layui-col-md8">
                <div class="layui-card">
                    <div class="layui-card-header">帖子</div>
                    <div class="layui-card-body card-body">
                        {% if data != '' %}
                            {% for d in data %}
                                <div>
                                    <a href="#"><img src="{% static 'img/u.gif' %}" alt=""></a>
                                    <h2>
                                        {% if d.plate_id == 1 %}
                                            <a class="layui-badge layui-bg-green">牛羊</a>
                                        {% elif d.plate_id == 2 %}
                                            <a class="layui-badge">猪肉</a>
                                        {% else %}
                                            <a class="layui-badge layui-bg-blue">电商</a>
                                        {% endif %}
                                        <a href="/forum/topic?id={{ d.id }}">{{ d.topic_title }}</a>
                                    </h2>
                                    <p class="info"><span style="color: black">{{ d.user__username }}</span>
                                        <span>{{ d.issue_time }}</span> <span style="float: right">
                                            <i class="layui-icon layui-icon-praise"></i>{{ d.like }}</span></p>
                                </div>
                            {% endfor %}
                        {% else %}
                            <span>没有更多了</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header"> 新闻公告</div>
                    <div class="layui-card-body">
                        牛羊肉加工信息管理系统上线<br>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-body img-wx">
                        <img src="{% static 'img/wx.jpg' %}" alt="">
                        <p> 微信扫描关注我们</p>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/forum/forums.js' %}"></script>
{% endblock %}
