{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/forums.css' %}">
{% endblock %}
{% block content %}
    <div style="padding: 20px 0;min-height: 700px" class="layui-row layui-col-space15">
         <div class="layui-col-md8">
             <div class="layui-card">
                 <div class="layui-card-header"> 置顶 | 精贴</div>
                 <div class="layui-card-body card-body">
                     {% for d in data %}
                         <div>
                             <a href="javascript:void(0)"><img src="{% static 'img/u.gif' %}" alt=""></a>
                             <h2>
                                 {% if d.plate_id == 1 %}
                                     <a class="layui-badge layui-bg-green">提问</a>
                                 {% elif d.plate_id == 2 %}
                                     <a class="layui-badge layui-bg-green">提问</a>
                                    <a class="layui-badge layui-bg-blue">讨论</a>
                                 {% else %}
                                     <a class="layui-badge layui-bg-orange">回答</a>
                                 {% endif %}
                                 <a class="layui-badge">精贴</a>
                                 <a class="a-link" href="/forum/topic?id={{ d.id }}">{{ d.topic_title }}</a>
                             </h2>
                             <p class="info">
                                 <span style="color: black">{{ d.user__username }}</span>
                                 <span>{{ d.issue_time }}</span>
                                 <span style="float: right;"><i class="eyes glyphicon glyphicon-eye-open"></i>{{ d.like }}</span></p>
                         </div>
                     {% endfor %}

                 </div>
             </div>

             <div class="layui-card">
                 <div class="layui-card-header">问题 <span id="count">{{ count}}</span></div>
                 <div class="layui-card-body card-body" id="topicData">
                 </div>
             </div>

             <div class="layui-card more">
                 <span id="count" style="display: none;"></span>
                 <a href="javascript:more()">
                     <p id="loadMore">加载更多..</p>
                     <img src="{% static 'img/more.png' %}" width="18" alt="">
                 </a>
             </div>
         </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header"> 新闻公告</div>
                <div class="layui-card-body news">
                    <a href="../product/">牛羊肉加工信息管理系统上线</a>
                </div>
            </div>
        </div>
        <div class="layui-col-md4 catch-us">
            <div class="layui-card">
                <div class="layui-card-body img-wx">
                    <img src="{% static 'img/wx.jpg' %}" alt="">
                    <p> 微信扫描关注我们</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/forum/forums.js' %}"></script>
{% endblock %}
