{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/forums.css' %}">
{% endblock %}
{% block content %}
    <div style="padding: 20px 0" class="layui-row layui-col-space15">
         <div class="layui-col-md8">
             <div class="layui-card">
                 <div class="layui-card-header">问题 <span id="count">{{ count}}</span></div>
                 <div class="layui-card-body card-body" id="topicData">
                 </div>
             </div>
             <div class="layui-card more">
                 <span id="count" style="display: none;"></span>
                 <a href="javascript:more()">
                     <p id="loadMore">加载更多..</p>
                     <img src="{% static 'img/more.png' %}" width="18" alt="">
                 </a>
             </div>
         </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header"> 新闻公告</div>
                <div class="layui-card-body">
                    牛羊肉加工信息管理系统上线<br>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-body img-wx">
                    <img src="{% static 'img/wx.jpg' %}" alt="">
                    <p> 微信扫描关注我们</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/forum/forums.js' %}"></script>
{% endblock %}
