{% extends 'forum/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/forum/topic.css' %}">
{% endblock %}
{% block content %}
    <div style="position: relative">
        <div class="replay-dialog">
            <form id="frmReplay" class="form-horizontal">
                {% csrf_token %}
                <input id="discussId" type="hidden" name="discussId" value="">
                <div class="form-group">
                    <label for="replay" class="control-label"></label>
                    <div class="col-sm-12">
                      <textarea class="form-control layui-textarea" id="replay" name="replay"></textarea>
                    </div>

                </div>
                <p align="right">
                    <button type="button" id="btnRpy" class="layui-btn layui-btn-primary layui-btn-sm"> 保存
                    </button>
                    <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" id="removeRpy">
                        取消
                    </button>
                </p>
            </form>
        </div>
    </div>

    <div class="layui-row layui-col-space15" style="padding: 20px 0">
        <div class="layui-col-md8">
            <div class="layui-card article">
                <h1>{{ data.topic_title }}<span style="float: right; font-size: 15px"> 楼主</span></h1>
                <div class="topic-data">
                    <a class="layui-badge layui-bg-green">提问</a>
                    <p><i class="eyes glyphicon glyphicon-eye-open"></i> {{ data.like }}</p>
                </div>
                <div class="detail-about">
                    <img src="{% static 'img/u.gif' %}" alt="">
                    <p style="color: #01AAED;line-height: 25px">{{ data.user.username }}</p>
                    <p style="color: grey">{{ data.issue_time }}</p>
                </div>
                <div class="topic-text">
                    <p>{{ data.topic_text }}</p>
                    {% if data.picture == '' %}
                        <span></span>
                    {% else %}
                        <div style="margin-top: 2%"> <img src="{{ data.picture }}" width="100%" alt=""></div>

                    {% endif %}
                </div>
            </div>

            <div class="layui-card article">
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend>回帖</legend>
                </fieldset>
                <div class="replay">

                    {% if disc != '' %}
                        {% for d in disc %}
                            <div class="qaq">
                                <img src="{% static 'img/u.gif' %}" alt="">
                                <p style="color: #01AAED;line-height: 25px">{{ d.user }} <span
                                        style="float: right">{{ forloop.counter }}楼</span></p>
                                <p style="color: grey">{{ d.time }}</p>

                                <div class="qa">
                                    <p>{{ d.detail }}</p>
                                    {% for r in d.rpy %}
                                        <div class="replay-block">
                                            <a href="#frmDiscuss" onclick="replayUser('{{ r.user__username }}')">
                                                <span>{{ r.user__username }}</span>回复<span>{{ d.user }}</span>:
                                                {{ r.replay_detail }} </a>
                                        </div>
                                    {% endfor %}
                                    <div class="dz">
                                        <a href="">
                                            <i class="glyphicon glyphicon glyphicon-thumbs-up"></i><span>点赞</span>
                                        </a>
                                        <a href="#" onclick="replayMess({{ d.id }})" data-toggle="modal" data-target="#replayModal">
                                            <i class="glyphicon glyphicon glyphicon glyphicon-leaf"></i><span>评论</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>暂无评论</p>
                    {% endif %}
                    <p>{{ mess }}</p>

                </div>
                <div class="discuss">

                    <form id="frmDiscuss">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <textarea name="discuss-detail" class="discuss-detail" placeholder="添加评论.."></textarea>
                    </form>
                    <button id="discuss-btn" class="layui-btn">提交评论</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">卡片面板</div>
                <div class="layui-card-body">
                    结合 layui 的栅格系统<br>
                    轻松实现响应式布局
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/forum/topic.js' %}"></script>
<script>
</script>
{% endblock %}